api-server-django/api/assessment/reports/level1/
api-server-django/api/assessment/reports/level2/
api-server-django/api/assessment/reports/level3/
api-server-django/temp_folder/

api-server-django/static/
api-server-django/staticfiles/
api-server-django/build/


api-server-django/db_dev.sqlite3
